body {
    background-color: white;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
}

.navbar-brand {
    margin-left: 30px;
}

.logo {
    width: 100px;
}

.navbar {
    background-color: #302c55;
    color: white;
}

.nav-link:hover {
    color: #d9965f;
    text-decoration: underline;
}

.navbar-nav {
    margin-left: 100px;
}

#navbarNav > ul {
    margin-left: 350px;
}

.nav-btn {
    margin-left: 300px;
    background-color: #d9965f;
    border-radius: 20px;
}

#section1 {
    margin-bottom: 100px;
}


.image-text {
    position: absolute;
    top: 50%;
    left: 20%;
    color: white;
    font-weight: 900;
}

.image-card {
    position: absolute;
    top: 40%;
    left: 45%;
    width: 400px;
    text-align: center;
}

#section2 {
    text-align: center;
    margin-bottom: 100px;
}

.details {
       margin-bottom: 50px;
}


.section2-input  div input {
    background-color: white;
    border: 0;
    border-radius: 5px;
    height: 50px;
}



.bg-landing {
    width: 100%;
	height: 500px;
	background-image: url(../images/barhf.contact.lp.JPG);
	background-size: cover;
    position: relative;
}

.dark-scarf {
    width: 100%;
    height: 100%;
    background-color: rgba(38, 37, 44, 0.7);
}

.section2-card {
    height: 390px;
    background-color:  #DFECEB;
}

.head-box {
    background-color: #DFECEB;
    color: black;
    border-radius: 20px;
    width: auto;
    max-width: 138.4px;
    max-height: 49.01px;
    height: auto;
    text-align: center;
}


.Message-btn {
    background-color: #d9965f;
    border-radius: 20px;
    color: white;
}

#section3 {
    margin-bottom: 100px;
    text-align: start;
    font-size: medium;
}


.section3-ul {
    list-style: none;
}

.section3-ul li i {
    color: #d9965f;
}

.partners-num  h1 {
    color: #d9965f;
    font-weight: 900;
}

.partners-num p {
     font-size: x-small;
}

.line {
    padding: 1px;
    background-color: #DFECEB;
}

footer {
    color: white;
    text-align: center;
    background-color: #302c55;
    width: 99.1%;
}

.footer-h2 {
    padding: 40px 0 70px 0;
}

.footer-col {
    margin-top: 50px;
}

.footer-logo {
    margin-right: 60px;
    width: 100px;
}

.footer-icons {
    color: #d9965f;
    margin: 15px;
}

.address {
    color: #d9965f;
    font-size: smaller;
    text-align: start;
}

.footer-p  a {
    text-decoration: none;
    color: white;
    font-size: small;
    margin: 20px;
}

.footer-p2 {
    font-size: smaller;
    margin: 60px 40px 80px 0;
}


@media only screen  and (max-width:768px)  {
    .bg-landing {
        height: 190px;
    }

    .image-text {
        position: absolute;
        top: 15%;
        left: 3%;
        color: white;
        font-size: medium;
        font-weight: 900;
    }

    .image-card {
        position: absolute;
        top: 10%;
        left: 45%;
        width: 200px;
        height: 110px;
        text-align: center;
    }

    .card-body p {
        font-size: small;
    }

    .nav-btn {
        margin-left: -90px;
    } 

    .section2-input  div input {
        margin-bottom: 20px;
    }

    textarea {
        margin-top: -40px;
    }
}



@media only screen and (min-width:1024px) {
    .nav-btn {
        margin-left: 300px;
    }  

    .inputa {
        margin-left: 35px;
    }

    .inputb {
        margin-right: 50px;
    }

    textarea {
        margin-right: 70px;
        height: 200px; 
        width: 850px;
    }
}   