body {
    background-color: white;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
}

.navbar-brand {
    margin-left: 30px;
}

.logo {
    width: 100px;
}

.navbar {
    background-color: #302c55;
    color: white;
}

.nav-link:hover {
    color: #d9965f;
    text-decoration: underline;
}

.navbar-nav {
    margin-left: 100px;
}

#navbarNav > ul {
    margin-left: 350px;
}





.navbar {
    margin-left: -10px;
}

.nav-btn {
    margin-left: -90px;
    background-color: #d9965f;
    border-radius: 20px;
}

#section1 {
    margin-bottom: 100px;
}

.landing-page-img {
    width: 100%;
    height: 190px;
    background-image: url(../images/barhf-donate.png);
    background-size: cover;
    position: relative;
}

.dark-scarf {
    width: 100%;
    height: 100%;
    background-color: rgba(133, 79, 34, 0.1);
}

.image-text {
    font-size: xx-small;
    font-weight: bolder;
    position: absolute;
    top: 13%;
    left: 15%;
    text-align: center;
    color: white;
}

#section2 {
    text-align: center;
    margin-bottom: 100px;
}

#section2 h2 {
    margin-bottom: 50px;
}

.dropdown-btn {
    width: Fixed (570px)px;
    height: Hug (130px)px;
    padding: 21px 31px 21px 31px;
    border-radius: 10px 0px 0px 0px;
    border: 1px 0px 0px 0px;
    background-color: #FFFFFF;
    border: 1px solid #E8EEEC;
    box-shadow: 0px 0px 20px 24px #10182808;
    margin-bottom: 0px;
}

.accordion {
    margin-top: -20px;
}

.accordion-body {
    margin-top: -50px;
    background-color: #FFFFFF;
    border: 1px solid #E8EEEC;
}

.collapse-card {
    width: 320px;
    margin-left: 30px;
}


footer {
    color: white;
    text-align: center;
    background-color: #302c55;
    width: 99.1%;
}

.footer-h2 {
    padding: 40px 0 70px 0;
}

.footer-col {
    margin-top: 50px;
}

.footer-logo {
    margin-right: 60px;
    width: 100px;
}

.footer-icons {
    color: #d9965f;
    margin: 15px;
}

.address {
    color: #d9965f;
    font-size: smaller;
    text-align: start;
}

.footer-p  a {
    text-decoration: none;
    color: white;
    font-size: small;
    margin: 20px;
}

.footer-p2 {
    font-size: smaller;
    margin: 60px 40px 80px 0;
}


@media only screen and (max-width:600px) {

    .nav-item {
        margin-left: -50px;
    }
    }


@media only screen and (min-width:767px)  and (max-width:1024px) {
    .navbar {
        margin-left: -40px;
        margin-top: 5px;
    }
}




@media  only screen and (min-width:1024px) {
    .nav-btn {
        margin-left: 100px;
        margin-top: -5px;
    }  

    .landing-page-img {
        width: 100%;
        height: 300px;
    }  

    .image-text {
        font-size: xx-small;
        font-weight: bolder;
        position: absolute;
        top: 30%;
        left: 40%;
    }  
}
